$primary: rgb(22, 160, 134);

$very-light: rgb(254, 254, 252);
$light: rgb(233, 233, 233);
$dark: rgb(66, 66, 66);

$font-paragraph: 16px;

@mixin flex($flex-direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
