@import "./config";

.container__panel {
  &__title {
    @include flex(row, space-between, center, 0);
    background-color: $light;
    color: $dark;
    padding: 1em;
    cursor: pointer;
  }

  &__info {
    background-color: $dark;
    color: $light;
    padding: 0 1em;
    // cool trick for transition to work
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    &__text {
      overflow: hidden;

      p {
        margin: 1em 0;
      }
    }
  }

  &.open {
    .container__panel__title {
      background-color: $primary;
      color: $light;
    }

    .container__panel__info {
      grid-template-rows: 1fr !important;
    }
  }
}
